{% extends "base.html" %}
{% block title %}Add new slack channel{% endblock %}

{% block content %}
<h2>Add new slack channel</h2>
<form method="post" action="{{ add_notification_form }}">
    <fieldset>
        <label for="token">Token:</label>
        <input name="token" type="text" id="token" required="required"/>
        <label for="busy-text">Busy text:</label>
        <input name="busy-text" type="text" id="busy-text"/>
        <label for="busy-emoji">Busy emoji:</label>
        <input name="busy-emoji" type="text" id="busy-emoji"/>
        <label for="available-text">Available text:</label>
        <input name="available-text" type="text" id="available-text"/>
        <label for="available-emoji">Available emoji:</label>
        <input name="available-emoji" type="text" id="available-emoji"/>
        <button type="submit">Add</button>
    </fieldset>
</form>
{% endblock %}
